<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ingresar nuevo proveedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class = "text-center"> Ingrese el nuevo proveedor</h1>
                <div class = "card-body">
                    <form th:action="@{/new-proveedor}" th:object = "${newProveedor}" method="POST">
                        <div class = "form-group">
                            <label> Codigo proveedor</label>
                            <input
                                    type = "text"
                                    name ="codigo"
                                    th:field = "*{codigo}"
                                    class = "form-control"
                                    placeholder = "Ingrese el codigo"
                                    />
                        </div>

                        <div class = "form-group">
                            <label> Nombre proveedor</label>
                            <input
                                    type = "text"
                                    name ="nombre"
                                    th:field = "*{nombre}"
                                    class = "form-control"
                                    placeholder = "Ingrese el nombre"
                            />
                        </div>

                        <div class = "form-group">
                            <label> Categoria proveedor</label>
                            <input
                                    type = "text"
                                    name ="categoria"
                                    th:field = "*{categoria}"
                                    class = "form-control"
                                    placeholder = "Ingrese la categoria"
                            />
                        </div>

                        <div class = "form-group">
                            <label> Retencion proveedor</label>
                            <input
                                    type = "text"
                                    name ="retencion"
                                    th:field = "*{retencion}"
                                    class = "form-control"
                                    placeholder = "Ingrese la retencion"
                            />
                        </div>

                        <div class = "box-footer">
                            <button type = "submit" class = "btn btn-primary">
                                Subir
                            </button>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>